<html>
<head>
<title>Direct Read Mail (tm) - Create New Folder</title>
</head>
<body link="#326698" vlink="#326698" alink="#326698" bgcolor="#EAEFF8" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
  <div align="left">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width=300>
      <form action="/drm-bin/addfolderdir?-c" method="post">
      <input type=hidden name=folderpath value="$$folderpath"></td>
        <tr>
        <td bgcolor="#3A6BB7" height="29"> </td>
      </tr>
      <tr>
        <td bgcolor="#ESEFF8">
      <img border="0" src="/drm/img/spacer_transparent.gif" width="25" height="7"></td>
      </tr>
      <tr>
        <td bgcolor="#EAEFF8" valign=top>
      <div align="center">
        <center>
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100">
          <tr>
            <td>
      <img border="0" src="/drm/img/spacer_transparent.gif" width="25" height="7"></td>
          </tr>
          <tr>
            <td>
      <img border="0" src="/drm/img/spacer_transparent.gif" width="25" height="7"></td>
          </tr>
          <tr>
            <td> <b>
            <font face="Arial" size="2" color="#396BB5">New Directory Name:</font></b></td>
          </tr>
          <tr>
            <td><input type=text width=10 maxlength=10 name=foldername></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
          </tr>
          <tr>
            <td nowrap>
            <p align="center"><input type=image border="0" src="/drm/img/bluecreate.gif" width="82" height="22"><a href="javascript:close()"><img border="0" src="/drm/img/bluecancel.gif" width="82" height="22"></a></td>
          </tr>
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
        </table>
        </center>
      </div>
        </td>
      </tr>
      </form>
    </table>
  </div>
  <p align="center">&nbsp;</p>
</body>
</html>
